h1 {
    text-align: center;
    margin-top: 20px;
}

strong {
    background-image: url(imagens/senacCores.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    text-decoration: underline;
    text-align: left;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

main.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(59, 59, 59);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    min-width: 150px;
    max-width: 200px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

/* Quarta Feira */

main.cards section.card.quarta {
    border: 2px solid rgb(0, 253, 0);
}

main.cards section.card.quarta button {
    background: linear-gradient(to right, #00FD00, #DFCBFF);
    color: black;
}

main.cards section.card.quarta {
    box-shadow: 20px 20px 50px -30px #57d83e;
}

/* Quinta-Feira */

main.cards section.card.quinta {
    border: 2px solid #FF0096;
}

main.cards section.card.quinta button {
    background: linear-gradient(to right, #FF0096, #DFCBFF);
    color: black;
}

main.cards section.card.quinta {
    box-shadow: 20px 20px 50px -30px rgb(255, 0, 150);
}

/* Sexta-Feira */

main.cards section.card.sexta {
    border: 2px solid rgb(207, 0, 255);
}

main.cards section.card.sexta button {
    background: linear-gradient(to right, #CF00FF, #DFCBFF);
    color: black;
}

main.cards section.card.sexta {
    box-shadow: 20px 20px 50px -30px #CF00FF;
}

/* Sábado */

main.cards section.card.sabado {
    border: 2px solid rgb(255, 86, 0);
}

main.cards section.card.sabado button {
    background: linear-gradient(to right, #FF5600, #DFCBFF);
    color: black;
}

main.cards section.card.sabado {
    box-shadow: 20px 20px 50px -30px #FF5600;
}

/* Responsividade */


@media screen and (max-width: 720px) {

    h1 {

        font-size: 1.4em;
    }

    h2 {
        font-size: 1.4em;
        margin-left: 5%;
    }

    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin: 32px auto;
        min-width: 150px;
        max-width: 270px;
    }

    main.cards section.card.quarta {
        margin: 32px auto;
        min-width: 150px;
        max-width: 270px;
    }

    main.cards section.card.quinta {
        margin: 32px auto;
        min-width: 150px;
        max-width: 270px;
    }

    main.cards section.card.sexta {
        margin: 32px auto;
        min-width: 150px;
        max-width: 270px;
    }

    main.cards section.card.sabado {
        margin: 32px auto;
        min-width: 150px;
        max-width: 270px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 60%;
    }

}