@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

header h1{
    display: block;
    background-color: black;
    text-align: center;
    font-family: 'roboto', bold;
    color: rgb(120, 37, 179);
}

header img{
    display: block;
    background-color: black;
    width: 450px;
    margin: auto auto 10px auto;
}

div{
    display: block;
    background-color: black;
}

div input{
    width: 210px;
    height: 40px;
    border: 1px solid #B2B2B2;
    border-radius: 11px;
    display: block;
    margin: auto auto 10px auto;
    justify-content: center;
    text-align: start;
    font-family: 'roboto' , italic;
    text-indent: 15px;
}

div > button{
    background-color: indigo;
    border:1px solid indigo;
    border-radius: 10px;
    display: block;
    margin: auto auto 10px auto;
    width: 210px;
    height: 30px;
    align-items: center;
    align-content: center;
    cursor: pointer;
    font-family: 'roboto', bold;
    text-align: center;
    padding: 0 20px 0 0;
}

div > button > a{
    color: white;
    text-decoration: none;
}

div > button > a:hover{
    text-decoration: underline;
}

div > h4{
    color: rgb(120, 37, 179);
    text-align: center;
    font-family: 'roboto', bold;
}

div > a > img{
    display: block;
    width: 40px;
    margin: auto auto auto auto;
    align-content: center;
}

footer{
    background-color: black;
    height: 222px;
    display: flex;
}

footer img{
    width: 500px;
    margin: auto auto auto auto;
    background-color: black;
}